body {
    font-family: Arial, sans-serif;
}

.form-header {
    background-color: #f5f5f5; /* Warna latar belakang yang lebih terang */
    padding: 25px; /* Padding untuk memberi ruang */
    padding-bottom: 5px;
    border-radius: 5px 5px 0 0; /* Sudut melengkung hanya di bagian atas */
    margin-bottom: 0px; /* Menghapus celah antara header dan form section */
    margin-right: -20px;
    margin-left: -29px;
    margin-top: -50px;
    z-index: 1000;
    border: 1px solid #ddd;

}

.form-title {
    margin: 0; /* Hilangkan margin default */
    font-size: 20px;
    font-weight: bold;
    color: #333; /* Warna teks */
    font-family: monospace;
    padding-bottom: 5px;
    padding-top: -20px;
}
.form-section {
    background-color: #fff;
    padding: 20px;
    padding-top: 50px;
    border-radius: 5px;
    margin-left : -35px;
    margin-top: 0px;  /* Pertahankan margin atas */
    margin-right: 0;
    margin-bottom: -35px;  
}
.card {
    margin-bottom: 20px;
    margin-top: 40px;
    
}
.card-text {
    color: white;
    font-weight: bold;
    text-align : center;
}
.table-container {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 5px solid #ddd;
    border-radius: 4px;
    padding: 15px;
    background-color: #80AF81;
}

.table-container2 {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 5px solid #ddd;
    border-radius: 4px;
    padding: 15px;
    background-color: #E9C46A;
}
.table-container3 {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 5px solid #ddd;
    border-radius: 4px;
    padding: 15px;
    background-color: #9B7EBD;
}
.table-container4 {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 5px solid #ddd;
    border-radius: 4px;
    padding: 15px;
    background-color: #7AB2D3;
}
.table-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align : center;
    color: black;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
    
}
.body1 {
    background-color : #D6EFD8; 
}
.head1 {
    background-color: #9CDBA6;
}
table th, table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.scrollable {
    max-height: 400px;
    overflow-y: auto;
}