.container {
   
    margin-top: 20px;
    background-color: #ffffff;
    padding: 70px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   }
.form-label {
    font-weight: bold;
}
.form-control, .form-select {
    margin-bottom: 20px;
}
.btn-primary, .btn-secondary {
    margin-top: 20px;
}
.form-check-label {
    margin-right: 20px;
}
.form-check-input {
    margin-right: 5px;
}
.text-form{
    margin-bottom: 5px;
    font-weight: bold; 
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.text-form-2{
    margin-bottom: 10px;
    
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.input-group-text{
  margin-bottom: 20px;
}
.image-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; /* Pastikan teksnya rata tengah */
}
.image-placeholder img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}
#photo-preview-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: center;
  overflow-x: auto;
}
#photo-preview-container img {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
  border: 1px solid #ddd;
}
.btn-tambah-foto {
    margin-top: 10px;
    display: none; /* Sembunyikan tombol ini secara default */
    
    margin-right: 100px;
}
.btn-outline-primary {
    margin-top: 10px;
    margin-left : 105px;
}
.btn-outline-secondary {
    margin-top: 10px;
    margin-left : 105px;
}
.photo-costume {
  margin-left: 320px;
  margin-bottom: 30px;
} 

.remove-button {
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}