
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.table-container {
  width: 95%;
  margin: 20px auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

th {
  background-color: #f0f0f0;
  color: #333;
  font-size: 14px;
  text-transform: uppercase;
}

td {
  font-size: 14px;
  color: #555;
}

.action-button {
  color: #007bff;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
}

.action-button i {
  font-size: 18px; /* Ukuran ikon */
}

.chip {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  color: white;
  display: inline-block;
}

.chip.paid {
  background-color: #28a745; /* Hijau untuk Paid */
}

.chip.pending {
  background-color: #ffc107; /* Kuning untuk Pending */
}

.chip.failed {
  background-color: #dc3545; /* Merah untuk Failed */
}
